rml:predicateObjectMap [
	rml:predicateMap	[ {{pom.PredTermMap}} {{pom.Predicate}} ];
	rml:objectMap	[
		rml:termType rml:IRI ;
		rml:parentTriplesMap	<#{{pom.ReferenceID}}> ;
		rml:joinCondition	[
			rml:child	"{{pom.InnerRef}}" ;
			rml:parent	"{{pom.OuterRef}}" ;
		];
	];
];
