rml:predicateObjectMap [
	rml:predicateMap	[ {{pom.PredTermMap}} {{pom.Predicate}} ];
	rml:objectMap	[
		rml:parentTriplesMap	<#{{pom.ReferenceID}}>;
		rml:joinCondition	[
			rml:child	"{{pom.InnerRef}}";
			rml:parent	"{{pom.OuterRef}}";
		];
	];
];
