rr:predicateObjectMap [
	rr:predicateMap	[ {{pom.PredTermMap}} {{pom.Predicate}}];
	rr:objectMap	[ {{pom.ObjTermMap}} {{pom.Object}}; rr:termType rr:{{pom.TermType}}; rr:datatype xsd:{{pom.DataType}} ]
];
